<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="d-flex flex-wrap justify-content-center px-5 pt-5">
       {% for post in data %}
       <div col-sm-3>
        <div class="card-body mx-2">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <small>Author : {{post.author.name}}</small>
         <p>Category :
            {% for cat in post.category.all %}
           <button class="btn btn-warning m-2">{{cat.name}}</button>
          {% endfor %}
         </p>
          <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
        </div>
       {% endfor %}
    </div>

    {% endblock %}
    
</body>
</html>